* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(127, 255, 212, 1);
}

#griglia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vh;
    margin: 0 auto;
}


.quadrato {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
    aspect-ratio: 1/1;
}

.quadrato-facile{
    width: calc(100%/10);
}
.quadrato-medio{
    width: calc(100%/9);
 }
 
 .quadrato-difficile{
    width: calc(100%/7);
 }

.active {
    background-color: coral;
}

.boom{
    background-color: red;
}